.inputFormWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    align-items: flex-start;
    height: 100%;
    width: 230px;
}
.formSignUp{
    border: 0;
    margin-top: 10px;
    display: inline-flex;
    padding:0;
    position: relative;
    min-width: 0;
    flex-direction: column;
}

#signUpInputBox{
    border: 0cm;
    margin: 0px;
    display: inline-flex;
    padding: 0%;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
#submitButton{
    margin-top: 12px;
}
.submitButton:enabled {
    color: #1B98E0;
    border-color: #1B98E0;   
}