.signInFormWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    width: 230px;
}
#submitButton:enabled {
    color: #1B98E0;
    border-color: #1B98E0;   
}

.formEmailPassword{
    border: 0;
    margin:5px;
    display: inline-flex;
    padding:0;
    position: relative;
    min-width: 0;
    flex-direction: column;
}
.errorMessage{
    margin: 1%;
}

#signInButton{
    margin-top: 6px;
    margin-left: 5px;
}
#signInButton:enabled {
    color: #1B98E0;
    border-color: #1B98E0;   
}
