body{
  font-family: 'Arial';
  
  /*
   Removes the bottom scroll bar on the editor. Text will automatically wrap around to next line
   so its not needed.  Also if you try to use the arrow key to exit out of mathblock it ends
   up controlling the bottom scroll bar. -Maslin
  */
  overflow-x: hidden;
}
.editor {
  overflow: hidden;
  width: 100%;
  min-height: 800px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
  font-size: 20px;
  background-color: white;
  color: #282c34;
  white-space: pre-line;
  word-wrap: break-word;


}
.editor > li {
  list-style: square;
  margin: initial
}

/*.toolbar >li{
  list-style: square;
  display: inline-block;
  background-color: aliceblue;
  padding:10px 15px;
  transition: all 0.8s ease;
  position: relative
}*/
#dropdown {
  display: none;
  position: absolute;
  height:auto;
  width: auto;
  
  z-index: 1;
  text-align: center;
}
#dropdown_links {
  list-style-type: none;
  display: none;
  position: absolute;
  height:auto;
  width: auto;
  
  z-index: 1;
  text-align: center;
}

.wrap {
  background-color: white;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#dropdown li{
  padding:10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 100%;
}

#dropdown li:hover{
  background-color: #f1f1f1;
}

#dropdown.active{
  display:block;
}

#dropdown_links li{
  padding:10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 100%;
  color: black;
  
}

#dropdown_links li:hover{
  background-color: #f1f1f1;
}

#dropdown_links.active{
  display:block;
}
#title {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 120px;
  font-size: 40px;
  background-color: white;
  color: #282c34;
  overflow: hidden;
  white-space: nowrap;
}
.editor:focus, #title:focus {
  outline: none;
}
#title:empty:before, .editor:empty:before {
  content:  attr(data-placeholder);
  color: gray;
}
.codeBlock {
  /*background-color: rgb(21, 34, 75);*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  padding: 1em;
  border: 1px solid #635ba8;
  padding: 8px;
}



#editorPageWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}