.editor {
  width: 100%;
  min-height: 800px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
  font-size: 20px;
  background-color: white;
  color: #282c34;
  white-space: pre-line;
  word-wrap: break-word;


}
.editor > li {
  list-style: square;
  margin: initial
}

/*.toolbar >li{
  list-style: square;
  display: inline-block;
  background-color: aliceblue;
  padding:10px 15px;
  transition: all 0.8s ease;
  position: relative
}*/
#dropdown {
  display: none;
  position: absolute;
  height:auto;
  width: auto;
  
  z-index: 1;
  text-align: center;
}

.wrap {
  background-color: white;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#dropdown li{
  padding:10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 100%;
}

#dropdown li:hover{
  background-color: #f1f1f1;
}

#dropdown.active{
  display:block;
}
#title {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 10px;
  font-size: 40px;
  background-color: white;
  color: #282c34;
}
.editor:focus, #title:focus {
  outline: none;
}
#title:empty:before, .editor:empty:before {
  content:  attr(data-placeholder);
  color: gray;
}
.codeBlock {
  /*background-color: rgb(21, 34, 75);*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  padding: 1em;
  border: 1px solid #635ba8;
  padding: 8px;
}

.mathBlock {
  font-size: 16px;
  display: inline-block;
  width: fit-content;
  padding-inline-end: 20px;
  padding-inline-start: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: #61dafb;
}