.toolbar {
  padding: 5px;
  position: fixed;
  top:0px;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
  
  /* Gets rid of the border for the buttons so its just icons only*/
button {
  background-color: Transparent;
  border: none;    
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom:1px;
}
button:hover{
  transition:0.2;
  opacity: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0; 
  transition: opacity 0.5s;
  
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
.hidden {
  display: none;
}

.bullet{
  color: black; 
}
.bullet:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0);
    color: black;
  }
