.toolbar {
  padding: 4px;
  position: fixed;
  margin-top: 64px;
  top:0px;
  height: 50px;
  margin-left: fill;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}


.toolbarshift {
  padding: 5px;
  position: fixed;
  margin-right: 240px;
  margin-top: 64px;
  top:0px;
  height: 50px;
  width: auto;
  margin-left: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/*CSS Style for Sign Out Button, held in Navigation Drawer*/
#signout {
  color: #F4976C;
}

/* Gets rid of the border for the buttons so its just icons only*/
button {
  background-color: Transparent;
  border: none;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom:1px;
}

button:hover{
  transition:0.2;
  opacity: 50%;
}

#dropdown {
  color: #212121;
}
/* bulletList class is Used for the list function */ 
.bulletList:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}
.bar {
  color: white;
}

.drawer {
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
.hidden {
  display: none;
}
