body {
    margin: 0;
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: rgb(92, 51, 51);
    padding: 8px 16px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
  }
  
  li.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li:hover:not(.active) {
    background-color: rgb(148, 155, 137);
    color: white;
  }

