#homeTitle {
    margin-top: 40px;
    line-height: 15px;
    font-size: 35px;
    color: #212121;
}

#homeSubtitle {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 20px;
}

#homeWrapper {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 5%;
}

NavLink {
    text-decoration: none;

}